@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');



*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

p{
    font-family: 'Rajdhani', sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 300px auto 300px;
    padding: 10px;
}

.brand_logo{
     border-bottom: 2px solid #ddd;
     margin: 0 auto;
     width: 700px;
}

.brand_logo h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: normal;
    text-align: center;
}

.brand_logo span {
    color: #fc9d03;
}

.social_icons img:hover {
opacity: 100%;
transition: opacity 0.3s ease-in-out;
}


.social_icons img{
    width: 30px;
    margin: 10px;
}

.subscribe_btn a{
    display: block;
    padding: 6px;
    width: 140px;
    text-align: center;
    border: 3px solid #fc9d03;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
}

.subscribe_btn a:hover{
    background color: #fc9d03;
    border: 3px solid #333;
    transition: all 0.3s ease-in-out; 
}

.nav_bar {
    position: relative;
    text-align: center;
    grid-column: 1/4;
    width: 600px;
    margin: 0 auto;
}

.nav_bar a{
    display: block;
    float: left;
    padding: 15px;
    width: 150px;
    font-family: 'Abel', sans-serif;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
}

.nav_bar a.active {
    color: #fc9d03;
}

.line {
    position: absolute;
    width: 150px;
    border-bottom: 2px solid #fc9d03;
    top: 35px;
    transition: transform 0.3s ease-in-out;
}

.nav_bar a:hover{
    color: #fc9d03;
    transition: color 0.3s ease-in-out;
}

.nav_bar a:nth-child(2):hover ~ .line{
    transform: translateX(150px);
    transition: transform 0.3s ease-in-out;
}

.nav_bar a:nth-child(3):hover ~ .line{
    transform: translateX(300px);
    transition: transform 0.3s ease-in-out;
}

.nav_bar a:nth-child(4):hover ~ .line{
    transform: translateX(450px);
    transition: transform 0.3s ease-in-out;
}

.cover {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-gap: 5px 5px;
    width: 1400px;
    margin: 0 auto;
}

.feature {
    position: relative;
}

.feature img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.title_filter {
    position: absolute;
    bottom: 0;
    background-color: #333;
    opacity: 50%;
    width: 100%;
    height: 22%;
}

.feature_title {
    position: absolute;
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    bottom: 0;
    margin: 5px;
    color: #fff;
}

.date{
    position: relative;
    width: 60%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: #fc9d03;
    padding: 10px 0px;
}

.date h3{
    line-height: 25px;
}

.date span{
    color: white;
    display: inline-block;
}

.feature_title h1{
    font-size: 28px;
}

.feature_title p{
    font-size: 12px;
    margin: 5px 0px;

}

.feature_title a{
    margin: 0px 15px;
    border-left: 1px solid #fff;
    color: #fc9d03;
}

.feature_title p span{
    margin: 0px 15px;
    border-left: 1px solid #fff;
}

.cover .feature:nth-child(1){
    grid-row: 1 / 3;
}

.cover .feature:nth-child(4){
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.cover .feature:nth-child(3) h1, .cover .feature:nth-child(2) h1{
font-size: 15px;
}

.cover .feature:nth-child(3) p, .cover .feature:nth-child(2) p{
    font-size: 8px;
    }

    .cover .feature:nth-child(3) .date, .cover .feature:nth-child(2) .date{
        font-size: 16px;
        width: 50px;
        padding: 2px 0px;
        margin-bottom: 5px;
        }
 
        .cover .feature:nth-child(4) .title_filter{
            height: 25%;
        }

        .cover .feature:nth-child(4) h1{
            font-size: 20px;
        }


.featured{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}

        
.sidebar{
    grid-row: 1 / 4;
}

.sidebar div > h2{
    margin: 20px 0px;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
}

.sidebar h2 > span {
    color: #fc9d03;
}

.about img{
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fc9d03;
}

.about p{
    line-height: 25px;
    text-align: justify;
}

.uppercase{
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.featured_posts{
    font-family: 'Abel', sans-serif;
}

.post{
    display: flex;
}

.calender{
    width: 50px;
    height: 60px;
    margin: 10px;
    background-color: #333;
    padding: 10px;
}

.calender p{
font-size: 30px;
font-family: 'Abel', sans-serif;
text-align: center;
color: #fc9d03;
}

.calender span{
    display: block;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.dish{
    padding: 15px;
}

.dish h6{
    color: #fc9d03;
    margin: 10px 0px;
    font-size: 16px;
}

.dish h1{
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 3px;
}

.dish p{
    font-size: 12px;
}

.recipe_type div{
    font-family: 'Abel', sans-serif;;
    font-weight: bold;
    display: block;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    width: 300px;
    color: #333;
}

.sub_type a{
    margin-left: 20px;
    color: #555555;
    font-size: 14px;
}

.recipe_type div span{
    float: right;
    font-size: 12px;
}

.recipe_type div a:hover{
    color: #fc9d03;
    transition: all 0.3s ease-in-out;
}

.poster{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.poster p{
    width: 90%;
    line-height: 25px;
    margin-bottom: 20px;
    color: #333;
}

.poster input{
    width: 60%;
    padding: 10px;
    border: 2px solid #fc9d03;
}

input:focus{
    border: 2px solid #333;
    outline: none;
}

::placeholder{
    font-family: 'Abel', sans-serif;
}

.poster button{
    font-family: 'Abel', sans-serif;
    background-color: #fc9d03;
    border: none;
    padding: 10px;
    width: 120px;
    font-size: 14px;
    margin-top: 20px;
}

.featured_post{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    position: relative;
    text-align: center;
    line-height: 25px;
}

.featured_post h1{
    margin: 20px 0px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 3px;
}

.featured_post .date{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #fc9d03;
    width: 80px;
}

.featured_post .date p{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    color: #fff;
    text-align: center;
}

.featured_post .date p span{
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
}

.featured_post img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 20px;
}

.featured_post h6{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 10px 0px;
}

.featured_post a.button{
    display: block;
    border: 2px solid #fc9d03;
    padding: 5px 10px;
    width: 120px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    margin: 20px auto;
}

.featured_post a.button:hover{
    border: 2px solid #333;
    background-color: #fc9d03;
    transition: all 0.3s ease-in-out;

}

.selected_posts img{
    width: 100%;
    margin-bottom: 20px;
}

.description{
    text-align: center;
}

.description > p{
    margin: 10px 0px 30px;
    color: #333;
    font-size: 12px;
    line-height: 25px;
}

.description h1{
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    margin: 10px 0px;
    letter-spacing: 3px;
}

.categories{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.card_category{
    position: relative;
    box-sizing: border-box;
}

.card_category img{
    position: absolute;
    box-shadow: 2px 2px 10px -2px #333333;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    left: 50px;
    top: 50px;
}

.desc_category{
    padding: 55px 30px 10px;
    height: 380px;
    margin-top: 200px;
    text-align: center;
    border: 2px solid #fc9d03;
    box-shadow: 2px 2px 5px -3px #333;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}

.desc_category h2{
    margin: 10px 0px;
    color: #333;
}

.desc_category p + p {
background-color: #fc9d03;
padding: 15px;
margin-top: 20px;
color: #333;
font-size: 16px;
line-height: 25px;     
}

.desc_category a.recipe_btn{
    color: #555555;
    font-weight: bold;
    border-left: 2px solid #fc9d03;
    padding-left: 10px;
}

.desc_category a.recipe_btn:hover{
    color: #fc9d03;
    transition: color 0.3s ease-in-out;
}

.desc_category a.button{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 120px;
    background-color: #fc9d03;
}

.desc_category a.button:hover{
    color: #333;
    border: 2px solid #fc9d03;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

















